<form name="form" ng-submit="submitZone(form.$valid)" novalidate ng-controller='addZone'>
    <div class="tab-content-area">
        <div class="row ">
            <toaster-container></toaster-container>
            <div class="col">
                <div class="input-group mb-3">
                    
                    <label class="text-label" for="basic-url">Zone Name *</label>
                    <input type="text" class="form-control" ng-model="zoneName" name="zoneName" required>
                    <div ng-show="hasError('zoneName', 'required')" class="help-block">Zone name
                        is required.</div>
                    <!-- <p ng-show="form.zoneName.$invalid && (form.zoneName.$dirty || form.zoneName.$touched  )" class="help-block">Zone name
                            is required.</p> -->
                </div>
            </div>

            <div class="col">
                <div class="input-group mb-3">
                    <label class="text-label" for="basic-url">Site Name *</label>
                    <select class="custom-select" ng-model="siteID" name="siteID" required
                        ng-options="site.id as site.name for site in site_list" >
                        
                        <!-- <option value="">Select Site Name</option> -->
                        <!-- <option ng-repeat="site in sites" value="{{site.id}}">{{site.name.toUpperCase()}}
                        </option> -->
            
                    </select>
                    <span ng-show="hasError('siteID', 'required')" class="help-block">Site is required.
                    </span>
                </div>
            </div>

        </div>
        <div class="row ">

            <div class="col">
                <div class="input-group mb-3">
                    <label class="text-label" for="basic-url">Latitude</label>
                    <input type="number" class="form-control" ng-model="latitude" name="latitude" class="form-control"
                        required>

                    <div ng-show="hasError('latitude', 'required')" class="help-block">Latitude is
                        required.</div>
                    <!-- <p ng-show="form.latitude.$error.required && form.latitude.$dirty" class="help-block">Latitude is
                            required.</p> -->

                </div>
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <label class="text-label" for="basic-url">Longitude</label>
                    <input type="number" class="form-control" name="longitude" ng-model="longitude" required>

                    <span ng-show="hasError('longitude', 'required')" class="help-block">Longitude
                        is required.</span>

                </div>
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <label class="text-label" for="basic-url">Zipcode {{}}</label>
                    <input type="number" class="form-control" name="zipcode" required ng-model="zipcode">
                    <span ng-show="hasError('zipcode', 'required')" class="help-block">Zipcode
                        is required.</span>
                </div>
            </div>

        </div>
        <hr>
        <button type="submit" class="btn btn-primary main-submit-btn"
            ng-click="submitZone(form.$valid)">Submit</button>

    </div>
</form>