| $("#business-associates .table-content-edit").html('');
| $("#business-associates .table-content-edit").html('
= j render :partial => 'business_associates/edit'
| ');
| datepickerInit();
| initSelectbox();