| $("#line-managers .table-content-edit").html('');
| $("#line-managers .table-content-edit").html('
= j render partial: 'line_managers/form', locals: { url: line_managers_path, action: "POST" }
| ');
| datepickerInit();
| initSelectbox();