| $("#employer-shift-managers .table-content-edit").html('');
| $("#employer-shift-managers .table-content-edit").html('
= j render partial: 'employer_shift_managers/form', locals: { url: employer_shift_managers_path, action: "POST" }
| ');
| datepickerInit();
| initSelectbox();