| $("#logistic-companies-users .table-content-edit").html('');
| $("#logistic-companies-users .table-content-edit").html('
= j render partial: 'operators/form', locals: { url: operators_path, action: "POST" }
| ');
| datepickerInit();
| initSelectbox();