<table style="min-width:100%;border-collapse:collapse" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tbody>
  <tr>
    <td style="padding-top:9px" valign="top">
      <table style="max-width:100%;min-width:100%;border-collapse:collapse" align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
        <tr>
          <td style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left" valign="top">
            <br>
            <hr>
            <br>

            <div style="float:left">
              <img class="CToWUd" src="https://ci6.googleusercontent.com/proxy/fR0GxSdk0AM0OBD5v7_479gPgT1OaI-WXU1mrIa1mdE_yBizOFVZ97LG21ecV2YLX235sTFNWDgvetgi78h5GXHlHp-XHOwZlqcrYzxvso3y7UsE_tWT4lNklK9tUDksKw77Xub7CfFBz8p0SV3aEaqMf22ffb_HS2aYS58=s0-d-e1-ft#https://gallery.mailchimp.com/a30f75be01ca8dd9cf0114dc7/images/90b09e95-28df-4f55-ae92-ee58e431b20a.png" style="width:16px;min-height:20px;margin:0px 10px 10px;border:0;outline:none;text-decoration:none" align="none" height="20" width="16">
            </div>
            <%= link_to ' Add a new Company Profile', new_app_url %>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>

<tr>
  <td style="background-color:#fafafa;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px" align="center" valign="top">
    <table style="border-collapse:collapse;max-width:600px!important" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
      <tbody>
      <tr>
        <td valign="top">
          <table style="min-width:100%;border-collapse:collapse" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
            <tr>
              <td style="padding:9px" align="center" valign="top">
                <table style="min-width:100%;border-collapse:collapse" border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tbody>
                  <tr>
                    <td style="padding-left:9px;padding-right:9px" align="center">
                      <table style="min-width:100%;border-collapse:collapse" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                        <tr>
                          <td style="padding-top:9px;padding-right:9px;padding-left:9px" align="center" valign="top">
                            <table style="border-collapse:collapse" align="center" border="0" cellpadding="0" cellspacing="0">
                              <tbody>
                              <tr>


                                <td style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px" align="left" valign="middle">
                                  <table style="border-collapse:collapse" align="left" border="0" cellpadding="0" cellspacing="0" width="">
                                    <tbody>
                                    <tr>
                                      <td align="center" valign="middle" width="24">
                                        <a href="https://twitter.com/underwrite_Pro" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://twitter.com/underwrite_Pro&amp;source=gmail&amp;ust=1471405176698000&amp;usg=AFQjCNE-i-x98IoT9HUCRrDGNT5sK_WsUQ"><img class="CToWUd" src="https://ci5.googleusercontent.com/proxy/7Mkp5x7vnjoGT2ynGuzF3bII8G8nN9AZ8P94lSQK9u1YI3mtO9W7FJ47IvEXf-miKSuDyVsogoi3lN_ByGUbmgjPGjx-metceXGhlGdxbwFiNbGKmwGCzURgcLUOD4kCIw=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-48.png" style="display:block;border:0;min-height:auto;outline:none;text-decoration:none" height="24" width="24"></a>
                                      </td>
                                      <td align="center" valign="middle" width="24" style="padding: 20px">
                                        <a href="https://www.facebook.com/UnderwritePro/?fref=ts" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.facebook.com/UnderwritePro/?fref%3Dts&amp;source=gmail&amp;ust=1471405176698000&amp;usg=AFQjCNGv9wCBFEDlfAIPYZDWzbAbAMl_AQ"><img class="CToWUd" src="https://ci5.googleusercontent.com/proxy/THEfQ-zOr2AaMLVp_TKYp66Poy4XIPQHLLPvp3JqaDTShBZ9oZafDmhUm7hfcJbSG9vWeV4d9Esrao80PBgUGiMiifS3Dl-CqVUBIY1Qj6oJicgM-Vrdv4BVqtr98zDVKOE=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-48.png" style="display:block;border:0;min-height:auto;outline:none;text-decoration:none" height="24" width="24"></a>
                                      </td>
                                      <td align="center" valign="middle" width="24">
                                        <a href="http://underwritepro.com" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://underwritepro.com&amp;source=gmail&amp;ust=1471405176698000&amp;usg=AFQjCNFM6Nsbkzr3LjHO-KgEgJDHUprE2g"><img class="CToWUd" src="https://ci4.googleusercontent.com/proxy/XGenZrmUcdiVbGsrNYCRgHNYNfacIjhuLbFebzTFb_97r7SkYv7ogFxlEPf2hCuN5Kk9p8x-3_ifj6nSGicK0tVj4vtdS4rtGr6b05PDLfKpkMu-ZN-ze73H72HWQg=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/color-link-48.png" style="display:block;border:0;min-height:auto;outline:none;text-decoration:none" height="24" width="24"></a>
                                      </td>
                                    </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </td>


                  </tr>
                  </tbody>
                </table>

              </td>
            </tr>
            </tbody>
          </table>

          <table style="min-width:100%;border-collapse:collapse" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
            <tr>
              <td style="padding-top:9px" valign="top">
                <table style="max-width:100%;min-width:100%;border-collapse:collapse" align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tbody>
                  <tr>
                    <td style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%;text-align:center" valign="top">
                      <strong>Visit us a
                        <a href="http://www.UnderwritePro.com" style="color:#656565;font-weight:normal;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.UnderwritePro.com&amp;source=gmail&amp;ust=1471405176699000&amp;usg=AFQjCNETpzkxJ3IQrEr81fYcT_OUM7Boaw">www.UnderwritePro.com</a></strong><br>
                      &nbsp;
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            </tbody>
          </table>

        </td>
      </tr>
      </tbody>
    </table>

  </td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</center>
</div>