<div style="min-height:100%;margin:0;padding:0;width:100%;background-color:#fafafa">
  <center>
    <table style="border-collapse:collapse;height:100%;margin:0;padding:0;width:100%;background-color:#fafafa" align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
      <tbody>
      <tr>
        <td style="height:100%;margin:0;padding:0;width:100%;border-top:0" align="center" valign="top">
          <table style="border-collapse:collapse" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
            <tr>
              <td style="background-color:#13a89e;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px" align="center" valign="top">
                <table style="border-collapse:collapse;max-width:600px!important" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tbody>
                  <tr>
                    <td valign="top">
                      <table style="min-width:100%;border-collapse:collapse" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                        <tr>
                          <td style="padding-top:9px" valign="top">
                            <table style="max-width:390px;border-collapse:collapse" align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
                              <tbody>
                              <tr>
                                <td style="padding:0px 18px 9px;color:#ffffff;word-break:break-word;font-family:Helvetica;font-size:12px;line-height:150%;text-align:left" valign="top">
                                  Your Vaayu account has been created
                                </td>
                              </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>

            <tr>
              <td style="background-color:#ffffff; padding-right:9px;padding-left:9px;padding-top:20px;padding-bottom:0;text-align:center" valign="top">
                <%= image_tag attachments['logo-dark.png'].url %>
                <div style="opacity: 0.01; left: 730.7px; top: 140px;" dir="ltr" class="a6S">
                  <div data-tooltip="Download" data-tooltip-class="a1V" id=":11z" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Download attachment ">
                    <div class="aSK J-J5-Ji aYr"></div>
                  </div>
                </div>
              </td>
            </tr>
