| $("#compliances .table-content-edit").html('');
| $("#compliances .table-content-edit").html('
= j render :partial => 'form', locals: { meth: "post" }
| ');
| datepickerInit();
| initSelectbox();

| $('.multiple-select-ui').multiselect({
|   includeSelectAllOption: true
| });

