<form name="form" ng-submit="submitForm(form.$valid)" novalidate>
<div class="tab-content-area">
    <div class="row ">

<!-- 
        <div class="col">
            <div class="input-group mb-3">
                <label class="text-label" for="basic-url">Site Name</label>
                <select class="custom-select" ng-model="$ctrl.siteID">
                    <option value="">Select here</option>
                    <option ng-repeat="site in $ctrl.siteNames" value="{{$ctrl.site.id}}">{{site.name.toUpperCase()}}</option>
                </select>
            </div>
        </div> -->
        <div class="col">
            <div class="input-group mb-3">
                <label class="text-label" for="basic-url">Max Trip Distance *</label>
                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
                name='distance' ng-model='distance' required>
                <div class="input-group-append">
                    <span class="input-group-text">Km</span>
                </div>
            </div>
            <span ng-show="hasError('distance', 'required')" class="help-block">
                    Field is required.</span>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <label class="text-label" for="basic-url">Between Two Points</label>
                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                <div class="input-group-append">
                    <span class="input-group-text">Km</span>
                </div>
            </div>
        </div>



    </div>
    <hr>
    <button type="button" class="btn btn-primary main-submit-btn"
    ng-click="submitForm(form.$valid)">Submit</button>
</div>
</form>