<div class="tab-content-area">
    <div class="row ">

        <div class="col">
            <div class="input-group mb-3">
                <label class="text-label" for="basic-url">Max Trip Distance</label>
                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                <div class="input-group-append">
                    <span class="input-group-text">Km</span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <label class="text-label" for="basic-url">Between Two Points</label>
                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                <div class="input-group-append">
                    <span class="input-group-text">Km</span>
                </div>
            </div>
        </div>



    </div>
    <hr>
    <button type="button" class="btn btn-primary main-submit-btn">Submit</button>
</div>