<form name="form" ng-submit="submitForm(form.$valid)" novalidate>
    <div class="tab-content-area ">
        <div class="row margin-b-20 ">
            <div class="col-md-3 ">
                <label class="radio-inline" style="padding: 5px;">
                    <input type="radio" name="radioWhen"  
                    ng-model="when" checked value='first'
                    style="margin-right:5px" required >First
                </label>
                <label class="radio-inline" style="padding: 5px;">
                    <input type="radio" name="radioWhen" style="margin-right:5px" 
                    ng-model="when" value='last' required>Last
                </label>
                <span ng-show="hasError('radioWhen', 'required')" class="help-block">
                        required.</span>
            </div>

            <div class="col-md-3 ">
                <label class="radio-inline" style="padding: 5px;">
                    <input type="radio"
                    ng-model="event" name="radioEvent"  value='pick' checked style="margin-right:5px" required>Pick
                </label>
                <label class="radio-inline" style="padding: 5px;">
                    <input type="radio" 
                    ng-model="event" name="radioEvent"  value='drop' style="margin-right:5px" required>Drop
                </label>
                <span ng-show="hasError('radioEvent', 'required')" class="help-block">
                        required.</span>
            </div>
            <!-- <div class="col-md-5">
                <div class="col">
                    <div class="input-group mb-3">
                        <label class="text-label" for="basic-url">Site Name</label>
                        <select class="custom-select" ng-model="$ctrl.siteID">
                            <option value="">Select here</option>
                            <option ng-repeat="site in $ctrl.siteNames" value="{{$ctrl.site.id}}">
                                {{site.name.toUpperCase()}}</option>
                        </select>
                    </div>
                </div>
            </div> -->
            <div class="col-md-4 ">
                <select class="custom-select" name='gender' ng-model="for" required>
                    <option value="">Select Gender</option>
                    <option value="F">Female</option>
                    <option value="M">Male</option>
                    <option value="F_M">Both</option>
                </select>
                <span ng-show="hasError('gender', 'required')" class="help-block">Gender is
                    required.</span>
            </div>

        </div>
        <div class=" guard">
            <div class="row padding-20 bg">
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <label class="text-label" for="basic-url">Time</label>
                        <div class="input-group-append">
                            <span class="input-group-text">FROM</span>
                        </div>
                        <input type="number" id="appt" min="0" max="23" ng-model="from_time" name='from_time'
                            required>
                        <span ng-show="hasError('from_time', 'required')" class="help-block">From Time is
                            required.</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text">TO</span>
                        </div>
                        <input type="number" id="appt" min="0" max="23"  ng-model="to_time" name='to_time' required>
                        <span ng-show="hasError('to_time', 'required')" class="help-block">To Time is
                            required.</span>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-primary main-submit-btn"
                ng-click="submitForm(form.$valid)">Submit</button>




        </div>

    </div>
</form>


<!-- <div class="tab-content-area ">
    <div class="row margin-b-20 ">
        <div class="col-md-6 ">
            <div class="col">
                <div class="input-group mb-3">
                    <label class="text-label" for="basic-url">Site Name</label>
                    <select class="custom-select" ng-model="$ctrl.siteID">
                        <option value="">Select here</option>
                        <option ng-repeat="site in $ctrl.siteNames" value="{{$ctrl.site.id}}">{{site.name.toUpperCase()}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                <label class="custom-control-label" for="defaultUnchecked">Last Drop</label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="pick">
                <label class="custom-control-label" for="pick">First Pick</label>
            </div>
        </div>
        <div class="col-md-2 ">
            <select class="custom-select">
                <option value="1">Female</option>
                <option value="2">Male-Female</option>
            </select>
        </div>
       
    </div>
    <div class=" guard">
        <div class="row padding-20 bg">
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <label class="text-label" for="basic-url">Time</label>
                    <div class="input-group-append">
                        <span class="input-group-text">FROM</span>
                    </div>
                    <input type="time" id="appt" name="appt" min="00:00" max="11:59" required>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text">TO</span>
                    </div>
                    <input type="time" id="appt" name="appt" min="00:00" max="11:59" required>
                </div>
            </div>
        </div>
        <div class="row bg">
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <label class="text-label" for="basic-url">Time</label>
                    <div class="input-group-append">
                        <span class="input-group-text">FROM</span>
                    </div>
                    <input type="time" id="appt" name="appt" min="00:00" max="11:59" required>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text">TO</span>
                    </div>
                    <input type="time" id="appt" name="appt" min="00:00" max="11:59" required>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary main-submit-btn">Submit</button>




    </div>
</div> -->