

<div class="container">
  <h2 class="main-title">Constraint</h2>
  <ul class="nav nav-tabs">
    <li class="nav-item nav-link "><a data-toggle="tab" href="#home">Guard</a></li>
    <li class="nav-item nav-link "><a data-toggle="tab" href="#menu1">Distance</a></li>
    <li class="nav-item nav-link"><a data-toggle="tab" href="#menu2">Time</a></li>
    <li class="nav-item nav-link active"><a data-toggle="tab" href="#menu3">Zone</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade  bg">
      <div class="tab-content-area ">
        <div class="row margin-b-20 ">

          <div class="col-md-2">
            <!-- Default unchecked -->
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
              <label class="custom-control-label" for="defaultUnchecked">Last Drop</label>
            </div>
          </div>
          <div class="col-md-2">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="pick">
              <label class="custom-control-label" for="pick">First Pick</label>
            </div>
          </div>
          <div class="col-md-2 ">
            <select class="custom-select">
              <option value="1">Female</option>
              <option value="2">Male</option>
              <option value="3">Both</option>
            </select>
          </div>
          <div class="col-md-6 ">

          </div>
        </div>
        <div class=" guard">
          <div class="row padding-20 bg">
            <div class="col-md-3">
              <div class="input-group mb-3">
                <label class="text-label" for="basic-url">Time</label>
                <div class="input-group-append">
                  <span class="input-group-text">FROM</span>
                </div>
                <input type="time" id="appt" name="appt" min="00:00" max="11:59" required>
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-group mb-3">
                <div class="input-group-append">
                  <span class="input-group-text">TO</span>
                </div>
                <input type="time" id="appt" name="appt" min="00:00" max="11:59" required>
              </div>
            </div>
          </div>
          <div class="row bg">
            <div class="col-md-3">
              <div class="input-group mb-3">
                <label class="text-label" for="basic-url">Time</label>
                <div class="input-group-append">
                  <span class="input-group-text">FROM</span>
                </div>
                <input type="time" id="appt" name="appt" min="00:00" max="11:59" required>
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-group mb-3">
                <div class="input-group-append">
                  <span class="input-group-text">TO</span>
                </div>
                <input type="time" id="appt" name="appt" min="00:00" max="11:59" required>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-primary main-submit-btn">Submit</button>




        </div>
      </div>

    </div>
    <div id="menu1" class="tab-pane fade in active show">
      <div class="tab-content-area">
        <div class="row ">

          <div class="col">
            <div class="input-group mb-3">
              <label class="text-label" for="basic-url">Max Trip Distance</label>
              <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
              <div class="input-group-append">
                <span class="input-group-text">Km</span>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="input-group mb-3">
              <label class="text-label" for="basic-url">Between Two Points</label>
              <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
              <div class="input-group-append">
                <span class="input-group-text">Km</span>
              </div>
            </div>
          </div>



        </div>
        <hr>
        <button type="button" class="btn btn-primary main-submit-btn">Submit</button>
      </div>
    </div>

    <div id="menu2" class="tab-pane fade">
      <div class="tab-content-area">
        <div class="row ">

          <div class="col">
            <div class="input-group mb-3">
              <label class="text-label" for="basic-url">Max Trip Time</label>
              <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
              <div class="input-group-append">
                <span class="input-group-text">MINS</span>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="input-group mb-3">
              <label class="text-label" for="basic-url">Between Two Points</label>
              <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
              <div class="input-group-append">
                <span class="input-group-text">MINS</span>
              </div>
            </div>
          </div>



        </div>
        <hr>
        <button type="button" class="btn btn-primary main-submit-btn">Submit</button>
      </div>
    </div>
    <div id="menu3" class="tab-pane ">
      <div class="tab-content-area">
        <div class="row ">

          <div class="col">
            <div class="input-group mb-3">
              <label class="text-label" for="basic-url">Zone Name</label>
              <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">

            </div>
          </div>
          <div class="col">
            <select class="custom-select">
              <option value="1">Site Name </option>
              <option value="2">Option1 </option>
              <option value="3">Option2</option>
            </select>
          </div>



        </div>
        <div class="row ">

          <div class="col">
            <div class="input-group mb-3">
              <label class="text-label" for="basic-url">Latitude</label>
              <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">

            </div>
          </div>
          <div class="col">
            <div class="input-group mb-3">
              <label class="text-label" for="basic-url">Longitude</label>
              <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">

            </div>
          </div>



        </div>
        <hr>
        <button type="button" class="btn btn-primary main-submit-btn">Submit</button>
      </div>
    </div>
  </div>
</div>