<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <style>
    body {
      background: #f4f6f8
    }

    .tab-content-area {
      padding: 50px;
      border: solid 1px #dddddd;
      background-color: #ffffff;
    }

    .guard {
      
      background: #f4f6f8;
    }

    .bg {
      background: #f4f6f8;
    }

    .text-label {
      font-family: sans-serif;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.13;
      margin: 10px;
      letter-spacing: normal;
      text-align: left;
      color: #55595c;
    }

    .main-submit-btn {
      float: right;
      margin-top: 10px
    }

    .main-title {
      font-family: 'Roboto', sans-serif;
      font-size: 19px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.21;
      letter-spacing: normal;
      text-align: left;
      color: #253238;
    }

    .padding-20 {
      padding-top: 20px
    }

    .bg {
      background: #f4f6f8;
    }
  </style>
</head>

<body>

  <div class="container">
    <h2 class="main-title">Constraint</h2>
    <ul class="nav nav-tabs">
      <li class="nav-item nav-link "><a data-toggle="tab" href="#home">Guard</a></li>
      <li class="nav-item nav-link active"><a data-toggle="tab" href="#menu1">Distance</a></li>
      <li class="nav-item nav-link"><a data-toggle="tab" href="#menu2">Time</a></li>
      <li class="nav-item nav-link"><a data-toggle="tab" href="#menu3">Zone</a></li>
    </ul>

    <div class="tab-content">
      <div id="home" class="tab-pane fade  bg">
        <div class="tab-content-area ">
          <div class="row margin-b-20 ">

            <div class="col-md-2">
              <!-- Default unchecked -->
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                <label class="custom-control-label" for="defaultUnchecked">Last Drop</label>
              </div>
            </div>
            <div class="col-md-2">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="pick">
                <label class="custom-control-label" for="pick">First Pick</label>
              </div>
            </div>
            <div class="col-md-2 ">
              <select class="custom-select">
                <option value="1">Female</option>
                <option value="2">Male</option>
                <option value="3">Both</option>
              </select>
            </div>
            <div class="col-md-6 ">

            </div>
          </div>
          <div class=" guard">
            <div class="row padding-20 bg">
                <div class="col-md-3">
                  <div class="input-group mb-3">
                    <label class="text-label" for="basic-url">Time</label>
                    <div class="input-group-append">
                      <span class="input-group-text">FROM</span>
                    </div>
                    <input type="time" id="appt" name="appt" min="00:00" max="11:59" required>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="input-group mb-3">
                    <div class="input-group-append">
                      <span class="input-group-text">TO</span>
                    </div>
                    <input type="time" id="appt" name="appt" min="00:00" max="11:59" required>
                  </div>
                </div>
              </div>
              <div class="row bg">
                <div class="col-md-3">
                  <div class="input-group mb-3">
                    <label class="text-label" for="basic-url">Time</label>
                    <div class="input-group-append">
                      <span class="input-group-text">FROM</span>
                    </div>
                    <input type="time" id="appt" name="appt" min="00:00" max="11:59" required>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="input-group mb-3">
                    <div class="input-group-append">
                      <span class="input-group-text">TO</span>
                    </div>
                    <input type="time" id="appt" name="appt" min="00:00" max="11:59" required>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-primary main-submit-btn">Submit</button>
    
    
    
    
            </div>
        </div>
        
      </div>
      <div id="menu1" class="tab-pane fade in active show">
        <div class="tab-content-area">
          <div class="row ">

            <div class="col">
              <div class="input-group mb-3">
                <label class="text-label" for="basic-url">Max Trip Distance</label>
                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                <div class="input-group-append">
                  <span class="input-group-text">Km</span>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="input-group mb-3">
                <label class="text-label" for="basic-url">Between Two Points</label>
                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                <div class="input-group-append">
                  <span class="input-group-text">Km</span>
                </div>
              </div>
            </div>



          </div>
          <hr>
          <button type="button" class="btn btn-primary main-submit-btn">Submit</button>
        </div>
      </div>

      <div id="menu2" class="tab-pane fade">
        <div class="tab-content-area">
          <div class="row ">

            <div class="col">
              <div class="input-group mb-3">
                <label class="text-label" for="basic-url">Max Trip Time</label>
                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                <div class="input-group-append">
                  <span class="input-group-text">MINS</span>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="input-group mb-3">
                <label class="text-label" for="basic-url">Between Two Points</label>
                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                <div class="input-group-append">
                  <span class="input-group-text">MINS</span>
                </div>
              </div>
            </div>



          </div>
          <hr>
          <button type="button" class="btn btn-primary main-submit-btn">Submit</button>
        </div>
      </div>
      <div id="menu3" class="tab-pane ">
          <div class="tab-content-area">
            <div class="row ">
  
              <div class="col">
                <div class="input-group mb-3">
                  <label class="text-label" for="basic-url">Zone Name</label>
                  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                  
                </div>
              </div>
              <div class="col">
                  <select class="custom-select">
                      <option value="1">Site Name </option>
                      <option value="2">Option1 </option>
                      <option value="3">Option2</option>
                    </select>
              </div>
  
  
  
            </div>
            <div class="row ">
  
                <div class="col">
                  <div class="input-group mb-3">
                    <label class="text-label" for="basic-url">Latitude</label>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                    
                  </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <label class="text-label" for="basic-url">Longitude</label>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                        
                      </div>
                </div>
    
    
    
              </div>
            <hr>
            <button type="button" class="btn btn-primary main-submit-btn">Submit</button>
          </div>
        </div>
    </div>
  </div>

</body>

</html>