<div class="container">
    <div class="pop-img-card">
        <div class="row">
            <div class="col-md-3">
                <span class="main-title" style="padding: 10px;float: left;">Contract List</span>
            </div>
            <div class="col-md-6">
                <div class="input-group mt-3">
                    <label class="text-label" for="basic-url">Site Name<span class="required">*</span></label>
                    <select class="custom-select" ng-model="selectedSiteId">
                        <option value="">Select Site</option>
                        <option ng-repeat="site in siteList" value="{{site}}">{{site.name.toUpperCase()}}
                        </option>
                    </select>
                    <button class="btn btn-primary" ng-click="getContracts()">
                        Get Contracts
                    </button>
                </div>

            </div>
            <div class="col-md-3">
                <button class="btn btn-primary" style="float: right;margin: 20px;">
                    New Entry
                </button>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item nav-link " ng-class="{active:isSet('CUSTOMER')}" ng-click="setTab('CUSTOMER')">Customer</li>
            <li class="nav-item nav-link " ng-class="{active:isSet('BA')}" ng-click="setTab('BA')">BA</li>

        </ul>
        <div class="tab-content">
            <div id="CUSTOMER" class="tab-pane fade  bg" ng-class="{'in active show':isSet('CUSTOMER')}">
                    <table class="table table-condensed ">
                            <thead class="pop-table-head">
                                <tr>
                                    <th>Customer</th>
                                    <th>Site</th>
                                    <th>Unique Identification</th>
                                    <th>Billing Cycle</th>
                                    <th>File</th>
                                </tr>
                            </thead>
                            <tbody class="pop-table-body">
                                <tr class="active" ng-repeat="contract in contractList.data track by $index">
                                    <td>{{contract.customerId}}</td>
                                    <td>{{siteName.toUpperCase()}}</td>
                                    <td>
                                        <div class="contractListMenu">
                                            <a ng-repeat="uid in contract.uniqueId.split(',')">{{uid}} </a>
                
                                        </div>
                                    </td>
                                    <td>{{contract.billingCycle}}</td>
                                    <td> <a href="{{contract.fileUrl}}"><button class="btn btn-primary">
                                                <i class="fa fa-download "></i>
                                            </button></a></td>
                                </tr>
                            </tbody>
                        </table>
            </div>
            <div id="BA" class="tab-pane fade  bg" ng-class="{'in active show':isSet('BA')}">
                    <table class="table table-condensed ">
                            <thead class="pop-table-head">
                                <tr>
                                    <th>Customer</th>
                                    <th>Site</th>
                                    <th>Unique Identification</th>
                                    <th>Billing Cycle</th>
                                    <th>File</th>
                                </tr>
                            </thead>
                            <tbody class="pop-table-body">
                                <tr class="active" ng-repeat="contract in contractList.data track by $index">
                                    <td>{{contract.customerId}}</td>
                                    <td>{{siteName}}</td>
                                    <td>
                                        <div class="contractListMenu">
                                            <a ng-repeat="uid in contract.uniqueId.split(',')">{{uid}} </a>
                
                                        </div>
                                    </td>
                                    <td>{{contract.billingCycle}}</td>
                                    <td> <a href="{{contract.fileUrl}}"><button class="btn btn-primary">
                                                <i class="fa fa-download "></i>
                                            </button></a></td>
                                </tr>
                            </tbody>
                        </table>
            </div>
        </div>
       
    </div>
</div>