
<div class="vayau-routing vayau-roster">

        <div class="container-fluid mt-4" ng-init ="init()">
            <div class="row">
                <div class="col-md-8">
                    <form class="form-inline">
                        <div class="form-group pr-2">
                            <select id="disabledSelect" class="form-control">
                                <option ng-repeat="shift in shifts" >{{shift.name}}</option>
                            </select>
                        </div>
                        <div class="form-group pr-2">
                            <select id="disabledSelect" class="form-control">
                                <option>Check In</option>
                                <option>Check Out</option>
                            </select>
                        </div>
                        <div class="form-group pr-2">
                            <select id="disabledSelect" class="form-control">
                                <option>Shift 1</option>
                                <option>Shift 2</option>
                                <option>Shift 3</option>
                                <option>Shift 4</option>
                            </select>
                        </div>
                        <div class="form-group pr-2">
                            <select id="disabledSelect" class="form-control">
                                <option>Disabled select</option>
                            </select>
                        </div>
    
                        <button type="submit" class="btn btn-terniary-disable">Genrate</button>
                    </form>
                </div>
    
                <div class="col-md-4">
                    <div class="btn-toolbar float-right" role="toolbar">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-terniary-blue">Finalize</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-terniary">Export CSV</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" ng-click="showFilterSidebar()" class="btn btn-terniary-blue">Filter</button>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="row analytic-panel">
                <div class="col-md-1 pad-8"></div>
                <div class="col-md-2 pad-8">
                    <div class="card-analytic routes">
                        <div class="card-inner-wrapper">
                            <div class="col-md-8 text">TOTAL SHIFT</div>
                            <div class="col-md-4 number">86</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 pad-8">
                    <div class="card-analytic kilometers">
                        <div class="card-inner-wrapper">
                            <div class="col-md-8 text">TOTAL EMPLOYEE</div>
                            <div class="col-md-4 number">234</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 pad-8">
                    <div class="card-analytic male">
                        <div class="card-inner-wrapper">
                            <div class="col-md-8 text">LEFT FOR ALLOCATION</div>
                            <div class="col-md-4 number">134</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 pad-8">
                    <div class="card-analytic female">
                        <div class="card-inner-wrapper">
                            <div class="col-md-8 text">ON DUTY VEHICLE</div>
                            <div class="col-md-4 number">99</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 pad-8">
                    <div class="card-analytic special">
                        <div class="card-inner-wrapper">
                            <div class="col-md-8 text">OFF DUTY VEHICLE</div>
                            <div class="col-md-4 number">34</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 pad-8">
                   
                </div>
            </div>
         
            
            <section>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                <th>Shift</th>
                                <th>Shift Time</th>
                                <th>Shift Type</th>
                                <th>No. of Employee</th>
                                <th>Vehicle Required</th>
                                <th>Available Vehicle</th>
                                <th>Result</th>
                                <th>Action</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                <tr class="active" ng-repeat="roster in rosters">
                                <th scope="row">
                                    <a href="">{{roster.shift}}</a>
                                </th>
                                <td>{{roster.shift_time}}</td>
                                <td>{{roster.shift_type}}</td>
                                <td>{{roster.no_of_employee}}</td>
                                <td>{{roster.vehicle_required}}</td>
                                <td class="text-color-blue">{{roster.vehicle_avialble}}</td>
                                <td class="text-color-blue">{{roster.result}}</td>
                                <td>
                                    <div class="">
                                        <button ng-if="roster.type==1" type="button" class="btn btn-sm-vaayu btn-terniary-blue btn-block">Genrate</button>
                                        <button ng-if="roster.type==2" type="button" class="btn btn-sm-vaayu btn-terniary btn-block">Add Vehicle</button>
                                    </div>
                                </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
    
        </div>
        
    </div>
    