
<div class="vayau-routing vayau-roster">

        <div class="container-fluid mt-4" ng-init ="init()">
            <div class="row">
                <div class="col-md-8">
                    <form class="form-inline">
                        <div class="form-group pr-2">
                                <select ng-change="FilterTripBoard()" ng-model="selectedSite" class="form-control" placeholder="Select Shift">
                                        <option ng-repeat="site in siteList" >{{site.name}}</option>
                                    </select>
                        </div>
                        <div class="form-group pr-2">
                            <select id="disabledSelect" class="form-control ng-hide">
                                <option>Check In</option>
                                <option>Check Out</option>
                            </select>
                        </div>
                        <div class="form-group pr-2">
                            <select id="disabledSelect" class="form-control ng-hide">
                                <option>Shift 1</option>
                                <option>Shift 2</option>
                                <option>Shift 3</option>
                                <option>Shift 4</option>
                            </select>
                        </div>
                        <!-- <div class="form-group pr-2">
                            <select id="disabledSelect" class="form-control">
                                <option>Disabled select</option>
                            </select>
                        </div> -->
                        <div class="form-group pr-2">
                                <div class="form-group pr-2">
                                    <p class="input-group custom-date">
                                    <input type="text" class="form-control" ng-change="FilterTripBoard()" datepicker-popup="{{format}}" ng-model="filterDate" is-open="opened"  datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"
                                    />
                                    <span class="input-group-btn-datePicket">
                                        <button type="button"  class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
                                    </span>
                                    </p>
                                </div>
                            </div>
    
                        <button type="submit" class="btn btn-terniary-disable ng-hide" >Genrate</button>
                    </form>
                </div>
    
                <div class="col-md-4">
                    <div class="btn-toolbar float-right" role="toolbar">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-terniary">Export CSV</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" ng-click="showFilterSidebar()" class="btn btn-terniary-blue">Filter</button>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="row analytic-panel">
                    <div class="col-md-2 pad-8">
                        <div class="card-analytic kilometers">
                            <div class="card-inner-wrapper">
                                <div class="col-md-8 text">ALl Trips</div>
                                <div class="col-md-4 number">{{stats.all_trips}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 pad-8">
                        <div class="card-analytic on-duty-vehical">
                            <div class="card-inner-wrapper">
                                <div class="col-md-8 text">ON GOING</div>
                                <div class="col-md-4 number">{{stats.ongoing_trips}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 pad-8">
                        <div class="card-analytic special">
                            <div class="card-inner-wrapper">
                                <div class="col-md-8 text">DELYED</div>
                                <div class="col-md-4 number">{{stats.delayed_trips}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 pad-8">
                        <div class="card-analytic male">
                            <div class="card-inner-wrapper">
                                <div class="col-md-8 text">ACCEPTED</div>
                                <div class="col-md-4 number">{{stats.accepted_trips}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 pad-8">
                        <div class="card-analytic pending">
                            <div class="card-inner-wrapper">
                                <div class="col-md-8 text">PENDING ACCEPTENCE</div>
                                <div class="col-md-4 number">{{stats.pending_acceptance_trips}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 pad-8">
                        <div class="card-analytic cancelled">
                            <div class="card-inner-wrapper">
                                <div class="col-md-8 text">CANCELLED</div>
                                <div class="col-md-4 number">{{stats.cancelled}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            <section>

                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                <th>Sr.No</th>
                                <th>Shift</th>
                                <th>Shift Time</th>
                                <th>Vehicle Type</th>
                                <th>Vehicle RC no</th>
                                <th>Driver Name</th>
                                <th>No. of Employee</th>
                                <th>Live Tracking In ETA</th>
                                <th>Current Status</th>
                                <th>Action</th>
                                </tr>
                            </thead>
                            
                           
                            <tbody>
                                <tr class="active" ng-repeat="roster in rosters track by $index">
                                    <td> {{$index+1}}</td>
                                    <td>
                                        <a href="">{{roster.trip_type}}</a>
                                    </td>
                                    <td>{{roster.shift_time}}</td>
                                    <td>{{roster.vehicle_type}}</td>
                                    <td>{{roster.vehicle_number}}</td>
                                    <td>{{roster.driver_name}}</td>
                                    <td>{{roster.no_of_employees}}</td>
                                    <td>
                                        {{roster.live_tracking_in_eta}}
                                        <!-- <div class="progress" *ngIf="roster.type==1">
                                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                                <span class="sr-only">40% Complete (success)</span>
                                            </div>
                                        </div> -->
                                        <div class="progress progress-sm">
                                            <div class="progress-bar progress-bar-sm progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                                <span class="sr-only">20% Complete</span>
                                            </div>
                                        </div>
                                        <!-- <div class="progress"  *ngIf="roster.type==3">
                                            <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                                <span class="sr-only">60% Complete (warning)</span>
                                            </div>
                                        </div>
                                        <div class="progress"  *ngIf="roster.type==4">
                                            <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                                <span class="sr-only">80% Complete (danger)</span>
                                            </div>
                                        </div> -->
                                    </td>

                                    <td>{{roster.current_status}}</td>
                                    <td>
                                        <div class="">
                                            <button type="button" id="myBtn" ng-click="popup()" class="btn btn-sm-vaayu btn-terniary-blue btn-block">View</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
    

    <!-- Trigger/Open The Modal -->
<!-- <button id="myBtn">Open Modal</button> -->

<!-- The Modal -->
<div id="myModal" class="vaayu-modal">

    <!-- Modal content -->
    <div class="vaayu-modal-content">
        <div class="vaayu-modal-header">

            <span>All Routes</span>
            <span class="vaayu-pop-close closepop">&times;</span>
        </div>
        <div class="vaayu-modal-body">
            <div class="row">
                <div class="col-md-4">
                        <div class="pop-img-card">
                                <table class="table table-bordered table-striped table-condensed">
                                        <thead class="pop-table-head">
                                            <tr>
                                                <th>Employee</th>
                                                <th>ETA</th>
                                                <th>Call</th>
                                            </tr>
                                        </thead>
                                        <tbody class="pop-table-body">
                                            <tr class="active" ng-repeat="roster in rosters track by $index">
                                                <td>{{roster.driver_name}}</td>
                                                <td>{{roster.live_tracking_in_eta}}</td>
                                                <td><i class="fa fa-phone callIcon"></i></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                <div class="container">
                                    <div>
                                            <span class="pop-name">Shift</span>
                                            <span class="pop-status">8:30 AM</span>
                                    </div>
                                    <div>
                                            <span class="pop-name">Arrival Time</span>
                                            <span class="pop-status">8:25 AM</span>
                                    </div>                                 
                                </div>
                            </div>
                    
                </div>
                <div class="col-md-4">
                        <div class="pop-img-card">
                                <div id="googleMap" style="width:100%;height:200px;"></div>
                                <div class="container">
                                        <div>
                                                <span class="pop-name">Duration</span>
                                                <span class="pop-status">47 Mins</span>
                                        </div>
                                        <div>
                                                <span class="pop-name">Duration</span>
                                                <span class="pop-status">37 Km</span>
                                        </div>                                 
                                    </div>
                            </div>
                </div>
                <div class="col-md-4">
                    <div class="pop-img-card">
                        <img src="./img_avatar.png" alt="Avatar" style="width:100%">
                        <div class="container">
                            <span class="pop-name">Aarav Banerjee</span>
                            <span class="pop-status">Approved</span>
                            <span class="pop-carNumber"> KA 19 P 8688</span>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="vaayu-modal-footer">
            <button type="button" class="vaayu-pop-action-btn"> Change Allocation</button>
            <button type="button" class="vaayu-pop-action-btn"> Call Driver</button>

        </div>
    </div>
</div>