// .provisioning {
//   .nav-tabs {
//     padding-right: 225px;
//     @media (max-width: 767px) {
//       padding-right: 200px;
//     }
//   }
// }

// .nav-actions-block {
//   position: relative;
//   .nav-actions {
//     position: absolute;
//     bottom: 6px;
//     right: 15px;
//     .btn + .btn {
//       margin-left: 12px;
//     }
//   }
// }

// .field-label {
//   font-family: 'Open Sans', sans-serif;
//   font-size: 14px;
//   font-weight: 600;
//   text-align: left;
//   color: #42496c;
//   padding-top: 10px;
// }

// .form-control {
//   height: 30px;
// }

// .modal-employees {
//   .modal-body {
//     padding: 28px 20px;
//   }

//   .row {
//     margin-right: -10px;
//     margin-left: -10px;
//     &:last-of-type {
//       margin-bottom: 0;
//     }
//   }

//   [class^="col-"] {
//     padding-left: 10px;
//     padding-right: 10px;
//   }
// }

// .modal-inputs {
//   .modal-body {
//     padding-bottom: 0;
//   }

//   @media (min-width: 992px) {
//     [class^="col-"] {
//       margin-bottom: 20px;
//       &.no-margin {
//         margin-bottom: 0;
//       }
//     }
//   }
// }

// legend, label {
//   color: inherit;
// }

// .table-content-edit {
//   margin-top: -10px;
//   @media (min-width: 992px) {
//     .form-group {
//       margin-bottom: 0;
//     }

//     .row {
//       margin-bottom: 20px;
//       &:last-of-type {
//         margin-bottom: 0;
//       }
//     }
//   }
// }

// .edit-buttons {
//   display: none;
// }

// .group-label {
//   padding-top: 20px;
// }

// .control-label {
//   margin-bottom: 0;
//   font-size: 9px;
//   color: #A8A8A8;
//   text-transform: uppercase;
// }

// @media(min-width: 992px) {
//   .group-label {
//     text-align: right;
//   }

//   .simple_form.modal-form {
//     .form-group {
//       margin-bottom: 0;
//     }
//   }
// }

// /* Search */
// .search-section {
//   width: 50%;
//   padding-bottom: 20px;

//   input, select {
//     width: 24%;
//     float: left;
//   }

//   select {
//     margin: 0 1%;
//   }

//   a {
//     background-color: #fff;
//     border-color: #E0E4E8;
//     height: 30px;
//     i {
//       color: #000;
//       font-weight: bold;
//     }
//   }

// }

// mark {
//   font-weight: bold;
//   background-color: #fff;
// }

// .modal-form {
//   .form-footer {
//     margin-left: 46%;
//     margin-top: 5%;

//     input {
//       margin: 0 2%;
//     }

//     button { float: right; }
//     .btn-custom-lg { padding: 0 35px; }
//     button.btn-custom-lg { padding: 0 30px; }
//   }
// }

// .search-match {
//   position: relative;
// }

// .match-result {
//   position: absolute;
//   list-style: none;
//   // margin-top: 10px;
//   left: 0;
//   right: 0;
//   z-index: 10;
//   padding: 0;
//   margin: 0;
//   border-width: 1px;
//   border-style: solid;
//   border-color: #cbcfe2 #c8cee7 #c4c7d7;
//   border-radius: 3px;
//   background-color: #fff;
//   background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #fff));
//   background-image: -webkit-linear-gradient(top, #fdfdfd, #fff);
//   background-image: -moz-linear-gradient(top, #fdfdfd, #fff);
//   background-image: -ms-linear-gradient(top, #fdfdfd, #fff);
//   background-image: -o-linear-gradient(top, #fdfdfd, #fff);
//   background-image: linear-gradient(top, #fdfdfd, #fff);
//   -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
//   -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
//   -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
//   -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
//   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
//   max-height: 200px;
//   overflow: auto;

//   /*li:first-child { margin-top: -1px; padding-top: 10px; }*/

//   /*li:first-child:before, li:first-child:after {
//     display: block;
//     content: '';
//     width: 0;
//     height: 0;
//     position: absolute;
//     left: 50%;
//     margin-left: -5px;
//     border: 5px outset transparent;
//   }*/

//   li:first-child:before {
//     border-bottom: 5px solid #c4c7d7;
//     /*top: -11px;*/
//   }

//   li:first-child:after {
//     border-bottom: 5px solid #fdfdfd;
//     /*top: -10px;*/
//   }

//   li:last-child { /*margin-bottom: -1px;*/ border: none; }

//   a {
//       display: block;
//       position: relative;
//       color: #808394;
//       font-weight: 500;
//       text-shadow: 0 1px #fff;
//       border: 1px solid transparent;
//       border-radius: 3px;
//   }

//   li {
//     border-bottom: 1px solid #E0E4E8;

//     .col-md-4 p {
//       margin-top: 10px;
//     }
//     .col-md-8 p:last-child { margin: 5px 0; }

//     a:hover {
//       background: #eeeeee;
//     }
//   }
// }

// .route_form_label {
//   color: #909090;
//   font-size: 10px;
//   margin-bottom: 5px;
// }

// .border-danger {
//   border: 1px solid red;
// }

// .site_labels {
//   color: #909090;
//   font-size: 10px;
//   margin-bottom: 5px; 
// }

// .margin-top {
//   margin-top:5px;
// }

// .margin-right {
//   margin-right: 15px;
// }

// .margin-right2x {
//   margin-right: 30px;
// }

// .zone-div {
//   border: 1px solid lightgrey;
//   margin-top: 10px;
//   padding-bottom: 10px;
// }

// .zone-div-no-top {
//   border: 1px solid lightgrey;
//   border-top: 0px;
//   padding-bottom: 10px;
// }

// .vehicle-div {
//   border: 2px solid lightgrey;
//   margin-top: 10px;
//   padding-bottom: 10px;
//   margin-left: 5px;
//   margin-right: 5px;
// }

// .vehicle-div-no-top {
//   border: 2px solid lightgrey;
//   margin-top: 10px;
//   padding-bottom: 10px;
//   margin-left: 5px;
//   margin-right: 5px;
// }

// .stat-count {
//   padding: 0 5px;
//   font-weight: bold;
// }

// .left-padded {
//   padding: 0 15px;
//   margin: 0px;
// }

// .deleteIcon {
//   cursor: pointer;
//   margin-top:30px;
// }

// /* Operator shift manager Profile page */
// .operator_shift_managers .btn {
//   margin-top: 20px;
// }
// /* OSM Profile page end */

// /* Employee Provisioning */

// .employee-home-address {
//   .input-group-btn {
//     padding-top: 16px;
//     padding-bottom: 26px;

//     .btn {
//       padding: 5px 12px;
//     }
//   }

//   a {
//     padding: 5px 12px;
//     margin-top: 2px;
//   }

//   input {
//     border-radius: 0;
//   }
// }

// .geo-code-numner-field {
//   &[type='number'] {
//     -moz-appearance: textfield;
//   }
//   &[type=number] {
//     &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
//       -webkit-appearance: none;
//       margin: 0;
//     }
//   }
// }

// .align-right {
//   text-align: right
// }


// /* Employee end*/
// /* Provisioning to Resource */
// .provisioning {
//   .resource-headers {
//     margin-top: 1.2%;

//     a {
//       border: 1px solid #394165;
//       background-color: #394165;
//       color: #fff;
//       font-size: 12px;
//     }
//     .people-style {
//       border-right: 1px solid #fff;
//     }
//     .places-style {
//       border-left: 1px solid #fff;
//     }
//     .things-style {
//       border-left: 1px solid #fff;
//     }

//     .active {
//       background-color: #fff;
//       color: #000;
//     }
//   }
// }
// /* End Provisioning to Resource */

// .reload-button {
//   float: right;
//   visibility: hidden;
// }

// .modal-compliance {
//   width: 450px;
// }

// .google-config-padding {
//   padding: 8px;
// }

// .google-config-buttons {
//   color:white;
//   background-color: #13A89E;
// }
