body {
    background: #f4f6f8
  }

  .tab-content-area {
    padding: 50px;
    border: solid 1px #dddddd;
    background-color: #ffffff;
  }

  .guard {
    
    background: #f4f6f8;
  }

.bg {
    background: #f4f6f8;
  }

  .text-label {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    margin: 10px;
    letter-spacing: normal;
    text-align: left;
    color: #55595c;
  }

  .main-submit-btn {
    float: right;
    margin-top: 10px
  }

  .main-title {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.21;
    letter-spacing: normal;
    text-align: left;
    color: #253238;
  }

  .padding-20 {
    padding-top: 20px
  }

  .bg {
    background: #f4f6f8;
  }