.vayau-routing .card-panel .dropzone .dndPlaceholder {
  display: block;
  height: 36px;
  opacity: 0.5;
  border: dashed 2px #707070;
  background-color: #eaeaea;
  margin-bottom: 4px;
  padding: 2px 4px;
}

.vayau-routing .analytic-panel {
  margin-top: 15px;
  margin-bottom: 15px;
}

.vayau-routing .card-analytic.routes .number {
    color: #ffffff;
}

.vayau-routing .card-analytic.routes .text {
    color: #ffffff;
}

.vayau-routing .card-analytic .number {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 50px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.16;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  display: table-cell;
  vertical-align: bottom;
}

.vayau-routing .pad-8 {
  padding: 0 8px;
}

.vayau-routing .card-analytic .text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  display: table-cell;
  vertical-align: bottom;
  padding-bottom: 15px;
  text-transform: uppercase;
}

.vayau-routing .card-analytic .card-inner-wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.vayau-routing ul li {
  list-style: none;
}

 .vayau-routing .vayau-sidebar ul[dnd-list],
 .vayau-routing .vayau-sidebar ul[dnd-list] > li {
   position: relative;
 }
 
  .vayau-routing .vayau-sidebar ul[dnd-list] {
   min-height: 42px;
   padding-left: 0px;
 }

 .vayau-routing .vayau-sidebar ul[dnd-list] li.background-man {
   background-color: #CAE0FC;
 }
 
 .vayau-routing .vayau-sidebar ul[dnd-list] li.background-woman {
   background-color: #FFE2F5;
 }
 
 .vayau-routing .vayau-sidebar ul[dnd-list] input.background-man {
   background-color: #D8E9FF;
   color: #2F4D99;
 }
 
 .vayau-routing .vayau-sidebar ul[dnd-list] input.background-woman {
   background-color: #FFF0FA;
   color: #D84FA7;
 }
 
 .vayau-routing .vayau-sidebar .handle {
   cursor: move;
   position: absolute;
   top: 14px;
 }
 
 .vayau-routing .vayau-sidebar .name {
   margin-left: 20px;
 }

 .vayau-routing .vayau-sidebar.guard-sidebar {
   position: fixed;
   right:0;
   top:0;
   bottom: 0;
   width:400px;
   box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
   background-color: #ffffff;
 }

 .vayau-routing .vayau-sidebar.filter-sidebar {
    position: fixed;
    right:0;
    top:0;
    bottom: 0;
    width:400px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
 }

.vayau-routing .vayau-sidebar.vehical-sidebar {
  position: fixed;
  right:0;
  top:0;
  bottom: 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  width:400px;
}

.vayau-routing .employee-cluster-panel {
  /* display: inline-grid;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 260px; */
  border-radius: 4px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}

.vayau-routing .employee-cluster-panel .employee-cluster-panel-heading .travel-group-name {
  margin-left: 5px;
  position: relative;
  top: -1px;
}

.vayau-routing .employee-cluster-panel .employee-cluster-panel-heading {
  display: table;
  width: 100%;
  height: 51px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16);
  background-color: #394266;
  padding: 4px 10px;
}

.vayau-routing .employee-cluster-panel .employee-cluster-panel-body {
  border-radius: 4px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}

.vayau-routing .employee-cluster-panel .employee-cluster-panel-heading .employee-cluster-panel-title {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  vertical-align: middle;
  display: table-cell;
}

.vayau-routing .employee-cluster-panel .employee-list-group-item {
  height: 37px;
  border-radius: 4px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin-bottom: 5px;
}

.vehicle_no {
  padding: 5px 2px 0 6px;
}

.vehicle_assign {
  background-color: #3597ec;
  background-color: #3597ec;
  width: 37px !important;
  color: #fff;
  float:left;
}

.vayau-routing .employee-cluster-panel .employee-list-group-item .input-group-addon.addon-prepend {
  width: 35px;
  height: 37px;
  padding: 8px;
  border-top-left-radius: 4px;
  border-bottom-left-radius:4px; 
  float:left;
}

.vayau-routing .employee-cluster-panel .employee-list-group-item .input-group-addon.addon-append {
  width: 35px;
  height: 37px;
  padding: 4px 12px 0px 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  float: right;
  text-align: right;
}

.vayau-routing .employee-cluster-panel .employee-list-group-item .female {
  background-color: #fd79a8;
}

.vayau-routing .employee-cluster-panel .employee-list-group-item .male {
  background-color: #242432;
}

.female .inner-addon {
  background-color: #e84393;
  color: #fff;
}

.male .inner-addon {
  background-color: #ffffff;
  color: #242432;
}

.vayau-routing .employee-cluster-panel .employee-list-group-item .inner-text {
  padding: 4px 0 0 10px;
  width: 160px;
  float:left;
}

.vayau-routing .employee-cluster-panel .employee-list-group-item .inner-addon {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  margin: 0 auto;
  padding-top: 1px;
}

.vayau-routing .employee-cluster-panel .btn-add-guard {
  color:#fff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16);
  background-color: #6c6c6c;
}

.vayau-routing .card-panel .employee-list-group {
  padding: 15px 15px 0 15px;
}

.vayau-panel-footer .employee-list-group {
  padding: 8px 8px 0 8px !important;
  margin-bottom: 8px;
}

.vayau-panel-footer .employee-list-group .employee-list-group-item.vehicle-assign {
  width: 115px;
  height: 38px;
  border-radius: 4px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16);
  border: solid 0.5px #3597ec;
  background-color: #ffffff;
}

.vayau-panel-footer .employee-list-group .employee-list-group-item.vehicle-add {
  width: 115px;
  height: 38px;
  border-radius: 4px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16);
  border: dashed 0.5px #707070;
  background-color: #ffffff;
  cursor: pointer;
}

.employee-cluster-panel .employee-cluster-panel-heading-meta {
  height: 42px;
  opacity: 0.5;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16);
  background-color: #eaedf1;
}

.employee-list-group-item.guard-add .input-group-addon  {
  width: 37px;
  height: 37px;
  background-color: #6c6c6c;
}

.employee-list-group-item.guard-assign .input-group-addon  {
  width: 37px;
  height: 37px;
  background-color: #000000;
}

.employee-list-group-item.vehicle-assign .input-group-addon  {
  width: 37px;
  height: 37px;
  background-color: #3597ec;
}

.employee-list-group-item.vehicle-add .input-group-addon  {
  width: 37px;
  height: 37px;
  background-color: #6c6c6c;
}

.employee-list-group-item .vehicle_no  .text-small {
  font-size: 8px;
  margin-bottom: 0;
  font-weight: normal;
}

.employee-list-group-item .vehicle_no  .text-big {
  font-family: "HelveticaNeue";
  font-size: 9px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #6c6c6c;
}

.vayau-panel-footer .employee-list-group .employee-list-group-item.guard-add {
  width: 115px;
  height: 38px;
  border-radius: 4px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16);
  border: dashed 0.5px #707070;
  background-color: #ffffff;
  cursor: pointer;
}

.vayau-panel-footer .employee-list-group .employee-list-group-item.guard-assign {
  width: 115px;
  height: 38px;
  border-radius: 4px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16);
  border: solid 0.5px #707070;
  background-color: #ffffff;
}

.vayau-routing .drop-box {
  width: 100%;
  height: 220px;
  opacity: 0.3;
  border: solid 1px #707070;
  background-color: #eaeaea;
  display: table;
}

.pad-left-0 {
  padding-left: 0px !important;
}

.pad-right-0 {
  padding-right: 0px !important;
}

.vayau-routing .drop-box-label {
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  display: table-cell;
  vertical-align: middle;
}

.vayau-routing .card-analytic.routes {
  border: solid 1px #b6b6b6;
  background-color: #394266;
}

.vayau-routing .card-analytic.kilometers {
  border: solid 1px #b6b6b6;
  background-color: #e8eaea;
}

.vayau-routing .card-analytic.male {
  border: solid 1px #b6b6b6;
  background-color: #71c8eb;
}

.vayau-routing .card-analytic.female {
  border: solid 1px #b6b6b6;
  background-color: #f0aec5;
}

.vayau-routing .card-analytic.special {
  border: solid 0.5px #b6b6b6;
  background-color: #eebe76;
}

.vayau-routing .card-analytic.pending {
  border: solid 0.5px #b6b6b6;
  background-color: #eebe76;
}
.vayau-routing .card-analytic.cancelled {
  border: solid 0.5px #dc4e45;
  background-color: #dc4e45;
  color:#fff;
}
.vayau-routing .card-analytic.cancelled .text, .vayau-routing .card-analytic.cancelled .number {
  color:#fff !important;
}
.vayau-routing .card-analytic.on-duty-vehical {
  border: solid 0.5px #b6b6b6;
  background-color: #82d7ad;
}


.kilometer_time_duration {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 3.70;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.align-center {
  text-align: center;
}

.vayau-routing .card-analytic {
  width: 100%;
  height: 99px;
  border-radius: 4px;
}


/* Sidebar STyle goes here  */

.vaayu-sidebar-panel .vaayu-sidebar-heading {
  padding: 30px 10px 24px 0;
}

.vaayu-sidebar-panel .vaayu-sidebar-heading .vaayu-sidebar-title {
  font-family: "Roboto";
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.btn-close {
  box-shadow: none;
  position: relative;
  top: -16px;
  right: 0;
  font-size: 35px !important;
  font-family: "Roboto";
  font-weight: 100 !important;
}

.vaayu-sidebar-panel .vaayu-sidebar-heading .title-caption {
  font-size: 24px;
  font-family: "Roboto";
  font-style: italic;
  color: #b5b5b5;
}

.vaayu-sidebar-panel  .vaayu-sidebar-body {
  padding-right:15px;
}


.vayau-routing .vaayu-sidebar-panel .employee-list-group-item {
  height: 50px;
  border-radius: 4px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin-bottom: 10px;
  border: solid 0.5px #3597ec;
}

.vayau-routing .vaayu-sidebar-panel .employee-list-group-item .input-group-addon.addon-append {
  color: #3597ec;
}

.vayau-routing .vaayu-sidebar-panel .employee-list-group-item .input-group-addon.addon-prepend {
  width: 50px;
  height: 50px;
  padding: 16px 15px;
  color:#fff;
  border-top-left-radius: 4px;
  border-bottom-left-radius:4px; 
  float:left;
  text-align: center;
  background-color: #3597ec;
}

.vayau-routing .vaayu-sidebar-panel .employee-list-group-item .input-group-addon.addon-append {
  width: 50px;
  height: 50px;
  padding: 10px 0px 0px 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  float: right;
  text-align: center;
}

.vayau-routing .vaayu-sidebar-panel .employee-list-group-item  .inner-text .text-small {
  font-family: "Roboto";
  font-size: 9px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: left;
  color: #3e3939;
  padding-bottom: 4px;
}

.vayau-routing .vaayu-sidebar-panel .employee-list-group-item  .inner-text .text-big{
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: #3e3939;
}

.vayau-routing .vaayu-sidebar-panel .employee-list-group-item .inner-text {
  padding: 10px 0 0 10px;
  width: 250px;
  float: left;
}

.vayau-routing .vaayu-sidebar-panel .employee-list-group-item .inner-addon {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  margin: 0 auto;
  padding-top: 1px;
}

.vayau-routing .vaayu-sidebar-panel .employee-list-group {
  margin-top:20px;
}

.driver-List-post-filter {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.clear-filter {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  color: #1a29de !important;
}

.vayau-routing .vaayu-sidebar-panel .employee-list-group-item.dndDragging {
  opacity: 1;
}


/* Tab CSS GOES HERE */


.vaayu-tabs {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  overflow: hidden;
  margin-bottom: 15px;
  margin-top:10px;
  padding: 0;
  border-bottom: 1px solid #f4f6f8;
}

.vaayu-tabs  li a {
  font-family: "Roboto";
  font-size: 16px;
  padding: 1rem 2rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  color: #000;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.tab-content-panel {
  padding-top: 15px;
}

.vaayu-tabs li a:hover,
.vaayu-tabs li a:focus, 
.vaayu-tabs li.active a {
  color: #14a89e;
  border-bottom: 4px solid #14a89e;
}

.btn-group-toolbar {
  position: absolute;
  right: 30px;
}

.btn-toolbar .btn-group {
  margin-left:10px;
}

.vayau-routing .btn-terniary-blue {
  /* opacity: 0.5; */
  height: 42px;
  border-radius: 4px;
  background-color: #394266 !important;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: center;
  color: #FFF !important;
}

.btn-terniary-disable {
  height: 42px;
  /* width:auto; */
  opacity: 0.5;
  border-radius: 4px;
  background-color: #394266 !important;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: center;
  color: #FFF !important;
}

.vayau-routing .btn-terniary {
  /* opacity: 0.5; */
  height: 42px;
  border-radius: 4px;
  background-color: #14a89e !important;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff !important;
}
.vayau-roster .table th {
  font-family: "Roboto";
  font-size: 13px;
  padding: 19px !important;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: center;
  color: #454d6f;
}

.text-color-blue {
  color: #14a89e !important;
  font-weight: 600 !important;
}

.vayau-roster .table td  {
  padding: 9px 25px !important;
  vertical-align: middle;
  font-family: "Roboto";
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.07;
  letter-spacing: normal;
  text-align: center;
  color: #6c6c6c;
}

.btn-sm-vaayu {
  height: 30px !important;
}

.btn-toolbar .btn-terniary.disabled {
  opacity: 0.5;
  border-radius: 4px;
  background-color: #14a89e;
}

.custom-panel-map {
  width:100% !important;
  margin-top: 15px;
}

.custom-panel-map #map { 
  height: 400px;
  border-radius: 0;
  border: 1px solid silver;
}

.vayau-routing select {
  /* width: 259px; */
  height: 42px;
  /* opacity: 0.5; */
  color:#000;
  border-radius: 4px;
  border: solid 1px #707070;
  background-color: #ffffff;
  /* border: thin solid grey; */
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 5px 3.5em 0.5em 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image:    url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA3klEQVRIS+3VMU9CMRTF8d8zBL+aizoQFhx0kUk33RzdYMNFXUFnYeGrYYyaJiUxJHDLSxodbNKpfeffc9/pbaPyaCrr+3OA++z4rtT5Pg5GuMnCY9yWQEoBE1xhlUUP8YDrCBIB0vojLvGO0yz4hm4JJAKcYYoPHGOZAUdYoIMBXrc5iQAHeMlzviFygj7O8dkWEJU4XI8chALRhn9AVKHf70VRTHu4wFfbmKZLNKt50dLBnna0imcMd/2I0phWa3Y/D1e1Xa9BCZJG0VuQNpaWKMx72xS1Fl5/WN3BN+AgJhnZQlq4AAAAAElFTkSuQmCC');
  background-position: calc(100% - .5rem), 100% 0;
  background-size:  1.5em 1.5em;
  background-repeat: no-repeat;
}

.vayau-routing  select:focus {
  outline: 0;
}

.dropzone {
  column-count: 3;
  column-gap: 1em;
}

.employee-cluster-panel { 
  display: inline-block;
  background-color: #eee;
  margin-bottom: 10px;
  width: 100%;
}

.filter-label {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-bottom: 25px;
}