<div>
    <div class="title">
        <header id="header">
            <a class="logo" title="BESTSELLER"><img src="img/logo.png" alt="Best Seller" /></a>
        </header>
        <h2 style="color:white">Voice Recording Portal</h2>
    </div>
    <div class="header-bar">
        <span class="name" ui-sref="home">Hi, {{user.name}}</span>
        <span class="logout" ng-click="logout()">Logout</span>
    </div>
    <!-- <div id="controls">
        <button ng-click="setModule(1)" ng-disabled="mod == 1">Module 1</button>
        <button ng-click="setModule(2)" ng-disabled="mod == 2">Module 2</button>
        <button ng-click="setModule(3)" ng-disabled="mod == 3">Module 3</button>
        <button ng-click="setModule(4)" ng-disabled="mod == 4">Module 4</button>
    </div> -->
    <div class="current-module">
        <h3>Module {{currentModule}}</h3>
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" ng-repeat="slide in moduleWise track by $index">{{slide}}</div>
        </div>
        <!-- <div class="swiper-pagination"></div> -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
    <div style="width:50%;margin: 0 auto; text-align: center">
        <div id="controls" ng-if="!doneModule">
            <button id="recordButton" ng-click="startRecording()" ng-disabled="recordBtn">Record</button>
            <button id="pauseButton" ng-click="pauseRecording()" ng-disabled="pauseBtn">Pause</button>
            <button id="stopButton" ng-click="stopRecording()" ng-disabled="stopBtn">Stop</button>
        </div>
        <div id="controls" ng-if="doneModule">
            <button id="recordButton" ng-click="nextModule()">Proceed To Next Module</button>
        </div>
        <div id="formats" style="color:white">Format: start recording to see sample rate</div>
        <h3 style="color:white">Recordings</h3>
        <!-- <audio controls src="https://4efd7526.ngrok.io/readFiles/e814a01969c0fee041f33f5f44c6e9c3">
        </audio> -->
        <ol ng-if="recordings.length > 0">
            <li ng-repeat="record in recordings" ng-if="record">
                <audio controls ng-src="{{record.url}}">
                </audio>
                <!-- <a ng-href="{{record.url}}" download="{{record.fileName}}">Save to disk</a></li> -->
        </ol>
    </div>
</div>